*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url(pexels-jplenio-1103970.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    padding: 10px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.first-half-section{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 70%;
    /* text-align: center; */
}
.second-half-section{
    /* width: 50%; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login ,.Register,.forget{
    /* width: 50%; */
    box-shadow: 0px 0px 10px 2px;
    border-radius: 2px;
    padding: 15px 15px;
    display: none;
    text-wrap: wrap;
}
.form-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
button, input[type="submit"]{
    width: 100%;
    border-radius: 25px;
    padding: 5px 0;
    cursor: pointer;
}
.forget-btn-con{
    padding: 10px 0px;
}
.forget-btn,.registration-btn,.login-btn{
    color: white;
}
input{
    width: 15rem;
    margin: .7rem 0;
    border: none;
    padding: 0.5rem 1rem;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.social div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.show{
    display: block;
}
@media(max-width:667px){
    .container{
        flex-direction: column;
    }
}
